@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    overflow-x: hidden;
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: relative;
    top: 10px;
}

.hero img{
    margin: auto;
}

.card-container{
    display: flex;
    justify-content: center;
}

.card-div{
    height: 400px;
    width: 360px;
    background-color: rgb(237, 231, 231);
    position: relative;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

.card-div img{
    height: 130px;
    width: 140px;
    align-self: center;
    position: relative;
}

.btn-div a{
    text-decoration: none;
    background-color: rgb(255, 107, 131);
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: inline-block;
}


.title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.card-div:hover{
    border-bottom: 5px #fa6b1e solid;
}

.btn-div a:hover{
    background-color: rgb(255, 75, 105);
}

@media screen and (max-width: 600px) {


    *{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .btn-div a {
      padding: 8px 16px; /* Decrease padding for smaller screens */
      overflow-y: hidden;
    }

    .card-div .fact{
        overflow-y: hidden;
    }

    .card-div{
        height: 450px;
        width: 200px;
        overflow-y: hidden;
    }

    .title{
        text-align: center;
        font-size: 14px;
    }

    .card-container{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

  }
